/* Angular Material Typography */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos para snackbars personalizados */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.success-snackbar .mat-mdc-button {
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.error-snackbar .mat-mdc-button {
  color: white !important;
}

.info-snackbar {
  background-color: #2196f3 !important;
  color: white !important;
}

.info-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.info-snackbar .mat-mdc-button {
  color: white !important;
}